.destination-map{
    padding-top: 250px;
    margin: 0 10%;
    display: flex;
}

.transport-destination{
    width: 45%;
    margin: 10px;
    padding: 10px;
}

.map-div{
    width: 55%;
}

.map-div img{
    width: 500px;
    height: 600px;
    margin: 30px;
    padding: 10px;
}